@using MyNotes.Data.Models
@model IEnumerable<Note>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    @{
        foreach (var note in Model)
        {
            <div>
                    <h2>@note.message</h2>
            </div>
        }
    }
</body>
</html>
